body{
	background: #E1E1E1;
}
h4{
	color: #333;
	//font-family: Noto Sans;
}
.display{
	height: 20em;
	background: white;
}
label{
	color: #333;
	//font-family: Noto Sans;
}
button{
	display: block;
	background: #B99090;
	margin-top: 1.5em;
	color: #333;
}
.title{
	margin-right: 1em;
	font-size: 14pt;
}
.url{
	margin-right: 1em;
	font-size: 14pt;
}
.status{
	margin-right: 1em;
	font-size: 14pt;
}
.delete{
	float: right;
	margin-top: .5em;
	margin-right: 1em;
}